.container {
    width: 100%;
    height: 100vh;

    .header-container {
        width: 100%;
        border-bottom: 1px solid $text-muted;
        padding: 15px;
        
        .input {
            width: 300px;
        }
        
        .object-info {
            border-radius: 12px;
            padding: 5px 10px;
            border: 1px solid $text-muted;
        }
    }

    .content {
        width: 100%;
        height: 100%;

        .list {
            width: 100%;
            display: grid;
            gap: 16px;
            grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
            grid-auto-rows: 180px;
        }

        .empty, .loading {
            width: 100%;
            height: 100%;
        }
    }
}
