.container {
    width: 100%;
    height: 100vh;

    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 20px;

        .button {
            width: 100%;
            margin-top: 20px;
        }
    }
}