.container {
    width: 100%;
    height: 100vh;
    .content {
        width: 100%;
        .buttonContainer {
            width: 100%;
            .button {
                width: 100%;
                margin-top: 20px;
            }

            .link {
                color: $text-muted;
                transition: 0.3s;

                &:hover {
                    color: $color-teal-light;
                }
            }
        }
    }
}
