.container {
    position: relative;
    background: #f8fafa;
    border-radius: 18px;
    box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.08);
    padding: 40px;
    width: 350px;

    h3 {
        color: #007b8a;
        text-align: center;
        margin-bottom: 28px;
    }
}
