.otpContainer {
    display: flex;
    gap: 8px;
    justify-content: center;
  }
  
  .otpInput {
    width: 40px;
    height: 50px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }
  