.container {
    width: 100%;
    height: 100vh;

    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 20px;

        .buttonContainer {
            width: 100%;
            .button {
                width: 100%;
                margin-top: 30px;
            }
            .link {
                color: $text-muted;
                transition: 0.3s;

                &:hover {
                    color: $color-teal-light;
                }
            }
        }
    }
}
